@section Styles {
    <link rel="stylesheet" href="~/css/home-index-style.css">
}

@{
    ViewData["Title"] = "ShowDetail";
}



<div class="container-fluid">

    <div class="row d-flex justify-content-center align-items-center layout-space" style="margin-top: 4rem;">
    <div class="card w-75">
        <div class="card-body">

                <div class="row detail-box">
                    @* loop pic *@
                        <div class="row d-flex justify-content-center align-items-center">

                            <div class="box-of-pic">
                                <img src="https://i.pinimg.com/236x/d5/8b/da/d58bda12a17dad7d09ee1a03e92334a2.jpg" class="left-box-pic">
                            </div>

                        </div>
                </div>

                    <div class="row">
                        <div class="col-1"></div>

                        <div class="col-10">
                            <h1>Produce Name</h1>
                            <p>Detai .......................................................</p>
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-2">
                            <p>stock</p>
                            <h1>Price</h1>
                            <a href="#" class="btn btn-primary">Buy</a>
                            <a href="#" class="btn btn-primary">Add Cart</a>
                        </div>

                        <div class="col-1"></div>
                    </div>

             </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center layout-space">
        <div class="card w-75">
            <div class="card-body">

                <div class="row">
                    <div>
                        <h1>Detail</h1>
                        <p>Detai .......................................................</p>
                        <p>stock</p>
                        <h1>Price</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

