@section Styles {
    <link rel="stylesheet" href="~/css/home-index-style.css">
}

@{
    ViewData["Title"] = "ShowDetail";
}



<div class="container-fluid">

    <div class="row d-flex justify-content-center align-items-center layout-space" style="margin-top: 4rem;">
    <div class="card" style="width: 61.8vw;">
        <div class="card-body">
            
            <div class="row">
                <div class="col-5 detail-box" style="height:500px; background-color: red;">
                    <div>
                            <img src="https://i.pinimg.com/236x/d5/8b/da/d58bda12a17dad7d09ee1a03e92334a2.jpg" class="left-box-pic">
                    </div>
                </div>
                    <div class="col-7" style="height:500px; background-color:blue;">
                    <div></div>
                </div>
             </div>

        </div>
    </div>
    </div>

</div>
